 <!-- Footer -->
 <footer class="footer">
  <br><br>
  <div class="container">
    <div class="row">
      <!-- Company details -->
      <div class="col-md-4">
        <h5><i class="fas fa-building"></i> Estate Era</h5>
        <p><i class="fas fa-map-marker-alt"></i> 123 Nehru Street, Andheri West, Mumbai, Maharashtra, India</p>
      </div>

      <!-- Contact details -->
      <div class="col-md-4">
        <h5><i class="fas fa-phone"></i> Contact</h5>
        <p><i class="fas fa-envelope"></i> Email: info&#64;estateera.com</p>
        <p><i class="fas fa-phone"></i> Phone: +1 234 567 890</p>
      </div>

      <!-- Social media links -->
      <div class="col-md-4">
        <h5><i class="fas fa-users"></i> Follow Us</h5>
        <p>
          <a href="#" style="text-decoration: none;"><i class="fab fa-facebook-f"></i> Facebook</a> |
          <a href="#" style="text-decoration: none;" ><i class="fab fa-twitter"></i> Twitter</a> |
          <a href="#" style="text-decoration: none;"><i class="fab fa-instagram"></i> Instagram</a>
        </p>
      </div>
    </div>
  </div>
  <br>
</footer>

