<app-header></app-header>
<br><br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSljaxJ8gbKvJ-Jjns5w2tuXQ3SindRyaPaSQ&s" class="img-fluid" alt="Responsive image" style="height: 400px;width: 500px;">
    </div>
    <div class="col-md-6">
      <form [formGroup]="propertyForm" (ngSubmit)="onSubmit()">
        <h3 style="margin-left: 130px;">Add New Property</h3>
        <div class="form-group">
          <label for="addressLine1">Address Line 1</label>
          <input type="text" class="form-control" id="addressline1" formControlName="addressline1" placeholder="Enter Address Line 1">
        </div>

        <div class="form-group">
          <label for="addressLine1">Address Line 2</label>
          <input type="text" class="form-control" id="addressline2" formControlName="addressline2" placeholder="Enter Address Line 2">
        </div>

        <div class="form-group">
          <label for="city">City</label>
          <input type="text" class="form-control" id="city" formControlName="city" placeholder="Enter City">
        </div>

        <div class="form-group">
          <label for="state">State</label>
          <input type="text" class="form-control" id="state" formControlName="state" placeholder="Enter State">
        </div>

        <div class="form-group">
          <label for="pincode">Pincode</label>
          <input type="text" class="form-control" id="pincode" formControlName="pincode" placeholder="Enter Pincode">
        </div>

        <div class="form-group">
          <label for="size">Size</label>
          <input type="number" class="form-control" id="size" formControlName="size" placeholder="Enter Size">
        </div>

        <div class="form-group">
          <label for="price">Price</label>
          <input type="number" class="form-control" id="price" formControlName="price" placeholder="Enter Price">
        </div>


        <!-- Add other form fields similarly -->
        <div class="form-group">
          <label for="propertyType">Property Type</label>
          <select class="form-control" id="propertytype" formControlName="propertytype">
            <option *ngFor="let type of propertyTypes" [value]="type">{{type}}</option>
            <!-- <option>Flat</option>
            <option>Villa</option>
            <option>Land</option> -->
          </select>
        </div>

        <div class="form-group">
          <label for="propertyStatus">Property Status</label>
          <select class="form-control" id="propstatus" formControlName="propstatus">
            <option *ngFor="let status of propertyStatus" [value]="status">{{status}}</option>
            <!-- <option>Available</option>
            <option>Rented</option>
            <option>Sold</option> -->
          </select>
        </div>

        <!-- Add other form fields similarly -->
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-secondary" [disabled]="!propertyForm.valid" style="width: 300px;">Submit</button>
        </div>

      </form>





<!-- Second Form -->
<div *ngIf="isSubmitted">
  <form [formGroup]="imageForm" (ngSubmit)="onImageSubmit()">
    <div class="form-group">
      <label for="image">Upload Image</label>
      <input type="file" id="image" formControlName="propimages" (change)="onFileSelect($event)">
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-secondary" [disabled]="!imageForm.valid || imageCount >= 10">Upload</button>
    </div>
  </form>
</div>



    </div>
  </div>
</div><br><br>
<app-footer></app-footer>
