<app-header></app-header>

<div class="container mt-5">
  <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()" class="form-group p-4 shadow-sm border border-light rounded">

    <div class="form-group">
      <label for="buyerEmail">Buyer Email:</label>
      <input type="email" id="buyerEmail" formControlName="buyerEmail" class="form-control" placeholder="Enter buyer's email">
    </div>

    <!-- <div class="form-group">
      <label for="propertyId">Property ID:</label>
      <input type="number" id="propertyId" formControlName="propertyId" class="form-control" placeholder="Enter property ID">
    </div> -->

    <div class="form-group">
      <label for="saleRentPrice">Sale/Rent Price:</label>
      <input type="number" id="saleRentPrice" formControlName="saleRentPrice" class="form-control" placeholder="Enter sale/rent price">
    </div>

    <div class="form-group">
      <label for="transactionDate">Transaction Date:</label>
      <input type="date" id="transactionDate" formControlName="transactionDate" class="form-control">
    </div>

    <button type="submit" [disabled]="!transactionForm.valid" class="btn btn-primary btn-block">Submit Transaction</button>
  </form>
</div>

<app-footer></app-footer>
